.note{
  border: 1px solid black;
  flex-basis: 15%;
  padding: 1em;
  margin: 1em;
}

.noteList{
  display: flex;
  flex-wrap: wrap;
}



#noteButton{
  background-color: rgb(11, 26, 243);
  color: white;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#noteButton:hover{
  box-shadow: 0 2px 10px 0 rgba(247, 3, 3, 0.829),0 17px 50px 0 rgba(240, 12, 12, 0.884);
}
#noteFormButton:hover{
  box-shadow: 0 2px 10px 0 rgba(247, 3, 3, 0.829),0 17px 50px 0 rgba(240, 12, 12, 0.884);
}
#saveNote:hover{
  box-shadow: 0 2px 10px 0 rgba(247, 3, 3, 0.829),0 17px 50px 0 rgba(240, 12, 12, 0.884);
}

#saveNote{
  background-color: rgb(11, 26, 243);
  color: white;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#noteFormButton{
  background-color: rgb(11, 26, 243);
  color: white;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}